/** Global **/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-primary{
  color: darkgreen;
}

.color-secondary{
  color: yellow;
}

.color-tertiary{
  color: ivory;
}

body{
 color: #000;
 overflow-x: hidden;
}

h1, h3{
  font-family: 'Libre Baskerville', serif;
}

html{
  scroll-snap-type: y mandatory;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.container{
  width: 90%;
  margin: auto;
}

.container-sm{
  width: 70%;
  margin: auto;
}

.color-secondary-div{
  background-color: rgb(255, 165, 0);
  width: 4px;
  height: 35px;
  margin-right: 40px;
}

/** Navbar **/
#Navbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 1em 0;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  border-bottom: 1px solid lightgray;
}

#logo{
  font-family: 'Cinzel Decorative', cursive;
  text-transform: uppercase;
  background-image: url(/src/assets/img/colors.avif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.ham{
  background-color: darkgreen;
  width: 30px;
  height: 2px;
  margin-bottom: 4px;
}

.ham-2{
  width: 20px;
  margin: 0 auto 4px;
}

.logo, .ham-menu{
  width: 50%;
  cursor: pointer;
}

#Navbar .flex .logo, #Navbar .flex .ham-menu{
  display: flex;
  justify-content: flex-end;
}

#Navbar .container{
  align-items: center;
} 

/** Sidebar **/
#Sidebar{
  transition: all cubic-bezier(0.95, 0.05, 0.795, 0.035) .5s;
  background-color: rgba(0, 0, 0, .7);
  padding: 2em 3em 3em;
  text-align: right;
}

.sidebar{
  position: fixed;
  width: 400px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #000;
  z-index: 100;
}

.sidebar-open{
  transform: translateX(0px);
}

.sidebar-closed{
  transform: translateX(450px);
}

.close-span{
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.closeMenuBtn{
  cursor: pointer;
}

.close-span-1{
  transform: rotate(45deg) translate(2px, 2px);
}

.close-span-2{
  transform: rotate(-45deg);
}

.side-list{
  margin: 3em 0;
}

.side-list a{
  line-height: 4em;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

/** Stories  **/
body {
  background: #F8FFE5;
}
.perspective {
	perspective: 76em;
	perspective-origin: 50% 50px;
  width: 494px;
  margin: 10% auto 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
input {
  display: none;
}
.tab {
  position: absolute;
  width: 80px;
  height: 70px;
  background: pink;
  right: 0;
  line-height: 70px;
  font-weight: 300;
}
  .tab-1 { 
    top: -5px;
    background: #06D6A0;
  }
  .tab-2 {
    top: 69px;
    background: #1B9AAA;
  }
  .tab-3 {
    top: 143px;
    background: #EF476F;
  }


.cube {
  position: relative;
  margin: 60px auto 0;
  width: 300px;
  height: 200px;
  transform-origin: 0 100px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
}
.tab-content {
  width: 300px;
  height: 200px;
  position: absolute;
}
  h1 {
    font-size: 25px;
    margin: 75px 0 10px;
    font-weight: 300;
  }
  p {
    font-size: 12px;
  }
  .tab-content-2 {
    transform: translateZ(100px);
    background: rgba(27, 154, 170, .4);
  }
  .tab-content-1 {
    transform: rotateX(90deg)
               translateY(-100px);
    transform-origin: top left;
    background: rgba(6, 214, 160, .4);
  }
  .tab-content-3 {
    transform: rotateX(-90deg)
               translateY(100px);
    transform-origin: bottom center;
    background: rgba(239, 71, 111, .4);
  } 


#tab-top:checked ~ .cube {
  transform: rotateX(-90deg);
}
#tab-front:checked ~ .cube {
  transform: rotateX(0deg);
}
#tab-bottom:checked ~ .cube {
  transform: rotateX(90deg);
}
